<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Dashboard Clínica</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>

<div class="dashboard-container">

    <!-- SIDEBAR -->
    <aside id="sidebar" class="sidebar">

        <!-- HEADER CON BOTÓN + LOGO -->
        <div class="sidebar-top">
            <button id="toggleSidebar" class="toggle-btn">
                <i class="fas fa-bars"></i>
            </button>

            <img src="/imgs/clipac.png" class="logo"/>
        </div>

        <!-- MENÚ -->
        <ul class="menu">
            <li><a href="/trabajadores"><i class="fa-solid fa-user"></i><span class="text">Trabajadores</span></a></li>
            <li><a href="#"><i class="fas fa-user-injured"></i><span class="text">Pacientes</span></a></li>
            <li><a href="#"><i class="fa-solid fa-hospital"></i><span class="text">Consultorios</span></a></li>
            <li><a href="#"><i class="fa-solid fa-calendar"></i><span class="text">Programación y horarios</span></a></li>
            <li><a href="#"><i class="fas fa-calendar-check"></i><span class="text">Citas</span></a></li>
            <li><a href="#"><i class="fas fa-chart-line"></i><span class="text">Prescripciones médicas</span></a></li>
            <li><a href="#"><i class="fas fa-pills"></i><span class="text">Medicamentos</span></a></li>
            <li><a href="#"><i class="fas fa-boxes"></i><span class="text">Inventario</span></a></li>
        </ul>

    </aside>

    <!-- CONTENIDO -->
    <main class="main-content">
        <h1>Bienvenido al Dashboard</h1>
        <p>Panel de administración del sistema clínico.</p>
    </main>

</div>

<script>
    const toggleBtn = document.getElementById("toggleSidebar");
    const sidebar = document.getElementById("sidebar");

    toggleBtn.addEventListener("click", () => {
        if (window.innerWidth <= 768) {
            sidebar.classList.toggle("active");
        } else {
            sidebar.classList.toggle("collapsed");
        }
    });
</script>

</body>
</html>